div.setup,
div.wizard {
  color: #000;
  position: relative;
  padding: 1rem;
}
div.setup h2,
div.wizard h2 {
  color: #666;
}
div.setup h3,
div.wizard h3 {
  color: #333;
}

div.single-add-restriction:not(:only-child) {
  display: none;
}
div.attribute-value span.input-group-addon {
  color: white;
  font-weight: bold;
}
.empty-state-message:not(:only-child) {
  display: none;
}